<!-- templates/customer/cart.html -->

{% extends 'base.html' %}

{% block title %}Your Cart{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Your Cart</h1>
    {% if products %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>${{ product.price }}</td>
                    <td>
                        <!-- Render the form for this product -->
                        <form method="POST" action="{{ url_for('cart') }}" onsubmit="return confirm('Are you sure you want to remove this item from your cart?');">
                            {{ forms[product._id|string].hidden_tag() }}
                            {{ forms[product._id|string].product_id }}
                            {{ forms[product._id|string].submit(class="btn btn-danger btn-sm") }}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('customer_home') }}" class="btn btn-secondary mb-3">Add more services</a>
        <h3>Total: ${{ total }}</h3>
        <a href="{{ url_for('checkout') }}" class="btn btn-primary">Proceed to Checkout</a>
    {% else %}
    <p>Your cart is empty.</p>
    <a href="{{ url_for('customer_home') }}" class="btn btn-secondary">Continue Shopping</a>
    {% endif %}
</div>
{% endblock %}
