/* static/css/custom.css */

/* Reset body and html margins and paddings */
body, html {
  margin: 0;
  padding: 0;
}

/* Navbar Styling */
.custom-navbar {
  background-color: #07173d; /* Change this to your preferred color */
}
.custom-navbar .nav-link {
  color: white !important; /* Ensure the text color is white */
}

.custom-navbar .nav-link:hover {
  color: lightgray; /* Optional: Add a hover effect */
}
.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M1 2h14M1 8h14M1 14h14'/%3E%3C/svg%3E") !important;
}

/* Button Styles */
.btn-product-view-details {
  background-color: #07173d; /* Custom background color */
  border-color: #07173d;      /* Custom border color */
  color: #ffffff;             /* Custom text color */
  border-radius: 2px;
}

.btn-product-view-details:hover {
  color: #ffffff;  
  background-color: #4e5f8a; /* Darker shade on hover */
  border-color: #0a1d4f;
}

.btn-book-now {
  background-color: #0b5f2a; /* Custom background color */
  border-color: #0b5f2a;      /* Custom border color */
  color: #ffffff;             /* Custom text color */
  border-radius: 2px;
}

.btn-book-now:hover {
  background-color: #89988b;  /* Darker green on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow for hover effect */
}

.btn-primary {
  border-radius: 3%;
  background-color: #07173d; 
  border: 1px solid #07173d; 
  padding: 15px 75px;
}

.btn-secondary{
  border-radius: 3%;
}

/* Product Buttons */
.product-buttons {
  display: flex;
  justify-content: center; /* Centers the buttons */
  gap: 26px; /* Adds space between buttons */
}

.product-buttons .btn {
  min-width: 120px; /* Consistent button widths */
}

/* Container Fluid */
.container-fluid {
  margin: 0;
  width: 100%;
}

/* Full Width Image */
.full-width-image {
  width: 100%;
  height: auto;
  display: block;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 5%, black 85%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 8%, black 95%, transparent);
}

/* Custom HR */
.custom-hr {
   border: none;
   height: 2px; /* Adjust the thickness */
   background-color: #ffffff; /* Preferred color */
   width: 50%; /* Adjust the width as needed */
   margin: 20px auto; /* Centers the line and adds vertical spacing */
}

/* Call Now Button */
.call-now-btn {
  font-size: .8rem;  /* Make the text bigger */
  padding: 15px 60px;  /* Increase padding for a larger button */
  font-weight: bold;
  color: #ffffff;  /* Set the text color to white */
  border-radius: 3%;
  background-color: #07173d; 
  border: 1px solid #07173d;
  text-align: center;  /* Center-align text within the button */
  display: inline-block;
}

.phone-number {
  font-size: 1.5rem;  /* Slightly smaller font size for the phone number */
  display: block;  /* Ensures the phone number appears below the main text */
}

/* Card Header Orders */
.card-header-orders {
  background-color: #07173d; 
}

/* Form Wrapper */
.form-wrapper {
  max-width: 500px; /* Control the width of the form */
  padding: 18px; /* Optional: Add padding around the form */
  border: 1px solid #ffffff; /* Optional: Add a border */
  border-radius: 8px; /* Rounded corners */
  background-color: #ffffff; /* Light background color */
}

.form-control {
  border-radius: 1%;
}

.card-header .btn {
  display: block;
  text-align: left;
  width: auto; /* Adjust width as needed */
  position: absolute;
  right: 0; /* Align to the right */
  top: 50%; /* Center vertically in the card header */
  transform: translateY(-50%);
}

.card, .card-header {
  border-radius: 2px; /* Sharper look */
}

.collapse {
  border-radius: 2px;
}

#infoAccordion {
  max-width: 75%; /* Make it narrower */
  margin: auto; /* Center the accordion */
}

.card-header, .card-body {
  padding: 13px; /* More compact look */
}

.card-header h2, .card-body {
  font-size: 20px; /* Smaller font size */
}

/* Black Dropdown */
.black-dropdown {
  background-color:#0a1b37!important;
  color: white !important;
  border: none;
  border-radius: 2px;
}

.black-dropdown:hover,
.black-dropdown:focus {
  background-color: #0b0b22 !important;
  color: white !important;
}

/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.list-group-item {
  cursor: pointer;
}

.service-text {
  font-size: 1.5rem; /* Adjust as needed */
}

/* Loading Overlay */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

/* Dropdown Menu */
.dropdown-menu {
  padding: 15px; /* Ensure enough padding */
}

/* Responsive Dropdown Images */
.dropdown-menu a img {
  display: block;
  margin: 0 auto;
}

/* Footer Styling */
/* Custom Footer Styling */
.custom-footer {
  background-color: #0a1b37; /* Desired background color */
  border-top: 5px dashed #07173d; /* Desired border color and thickness */
  color: #fff; /* Text color */
  width: 100%; /* Full width */
  padding: 0; /* Remove all padding */
  margin: 0; /* Remove all margin */
}

/* Control vertical spacing using margins */
.custom-footer p {
}

.custom-footer .mt-2 {

}

/* Adjust social media icon sizes and spacing */
.custom-footer a i {
  font-size: 1.5rem; /* Adjust icon size */
}

@media (max-width: 768px) {
  .custom-footer a i {
      font-size: 1.2rem; /* Smaller icons on tablets */
  }
}

@media (max-width: 480px) {
  .custom-footer a i {
      font-size: 1rem; /* Even smaller icons on mobile */
  }
}


/* Carousel Indicators Styling */
.carousel-indicators button {
  background-color: #000;
  opacity: 0.5;
}

.carousel-indicators .active {
  background-color: #000;
  opacity: 1;
}

/* Optional: Hover effect for indicators */
.carousel-indicators button:hover {
  opacity: 0.8;
}

/* Default styles for larger screens */
.custom-arrow {
  max-width: 100%; /* Adjust as needed */
}

.gobiz-image {
  max-width: 100%; /* Adjust as needed */
}

/* Styles for small screens (e.g., width < 576px) */
@media (max-width: 575.98px) {
  .custom-arrow {
    max-width: 140px; /* Adjust the size as needed */
  }

  .gobiz-image {
    max-width: 110px; /* Adjust the size as needed */
  }
}

