{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<div style="text-align: right; margin: 20px 20px;">
    <a href="{{ url_for('logout') }}" 
       style="display: inline-block; padding: 10px 20px; 
              font-size: 14px; text-decoration: none; 
              background-color:#07173d; color: white; 
              border-radius: 5px; border: none;">
        Logout
    </a>
</div>



<!-- New Orders Section -->
<div class="container mt-5">
    <h2>All Orders</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User Email</th>
                <th>Order Date</th>
                <th>Service Date</th>
                <th>Products</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.user_email }}</td>
                <td>{{ order.order_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ order.service_date.strftime('%Y-%m-%d') }}</td>
                <td>
                    <ul>
                        {% for product in order.product_details %}
                        <li>{{ product.name }} ({{ product.price }})</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
