{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1>Welcome to the Careers Page</h1>
    <div style="text-align: center; margin: 20px 0;">
        <a href="{{ url_for('employeepage') }}" 
           style="display: inline-block; padding: 10px 20px; 
                  font-size: 16px; text-decoration: none; 
                  background-color:#07173d; color: white; 
                  border-radius: 5px; border: none;">
            Go to Employee Page
        </a>
    </div>
{% endblock %}
