{% extends 'base.html' %}

{% block title %}Employee{% endblock %}

{% block content %}
    <h1>Welcome to the Employee Page</h1>

    <div style="text-align: center; margin: 20px 0;">
        <a href="{{ url_for('logout') }}" 
           style="display: inline-block; padding: 10px 20px; 
                  font-size: 14px; text-decoration: none; 
                  background-color:#07173d; color: white; 
                  border-radius: 5px; border: none;">
            Logout
        </a>
    </div>
    
{% endblock %}
