{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>All Estimate Requests</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Date Requested</th> <!-- Example additional field -->
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td>{{ request.name }}</td>
                    <td>{{ request.address }}</td>
                    <td>{{ request.phone }}</td>
                    <td>{{ request.date_requested }}</td> <!-- If you have a date field -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


 
    
{% endblock %}
