<!-- templates/footer.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

<footer class="text-white text-center py-3 mt-4 custom-footer">
    <div class="container">
        <p>&copy; 2024 CentralFloridaAutoCare llc. All rights reserved.</p>
        <p>Check out our social media below</p>
        <ul class="list-inline">
           
        <div class="mt-2">
            <a href="https://www.facebook.com/people/Central-Florida-Auto-Detailing/61559806436654/" class="text-white me-2"><i class="bi bi-facebook"></i></a>
            <a href="https://www.google.com/localservices/prolist?spp=Cg0vZy8xMXc5OHg3eDJx&scp=CgAaGUNlbnRyYWwgRmxvcmlkYSBBdXRvIENhcmUqGUNlbnRyYWwgRmxvcmlkYSBBdXRvIENhcmU%3D&q=Central+Florida+Auto+Care&source=sh/x/loc/srv/m1/0&kgs=c72392faac7adf65&src=2&slp=UhUIARIREg8iDS9nLzExdzk4eDd4MnE" class="text-white me-2"><i class="bi bi-google"></i></a>
            <a href="https://www.instagram.com/centralfloridaautocare_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</footer>
