<!-- templates/footer.html -->
<footer class="text-white text-center mt-4 custom-footer container-fluid px-0">
    <p class="mb-2">&copy; 2024 CentralFloridaAutoCare LLC. All rights reserved.</p>
    <p class="mb-2">
      <a href="{{ url_for('core.privacy_policy') }}" class="text-white text-decoration-underline">Privacy Policy</a> | 
      <a href="{{ url_for('core.refund_policy') }}" class="text-white text-decoration-underline">Refund Policy</a>
    </p>
    <p class="mb-2">Check out our social media below</p>
    <div class="mt-2"> 
        <a href="https://www.facebook.com/people/Central-Florida-Auto-Detailing/61559806436654/" class="text-white me-3" aria-label="Facebook">
            <i class="bi bi-facebook fs-3"></i>
        </a>
        <a href="https://www.google.com/maps/contrib/103683406944338625362/place/ChIJufomuxBJZI0RvTZQ6o4m9EM/@27.9407374,-82.3124497,15z/data=!4m6!1m5!8m4!1e1!2s103683406944338625362!3m1!1e1?hl=en-US&entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D" class="text-white me-3" aria-label="Google">
            <i class="bi bi-google fs-3"></i>
        </a>
        <a href="https://www.instagram.com/centralfloridaautocare?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="text-white" aria-label="Instagram">
            <i class="bi bi-instagram fs-3"></i>
        </a>
    </div>
</footer>
