{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

    
    <div class="container mt-5">
        <p class="text-center">Website Underconstruction</p>
    </div>
    <div class="container mt-5">
         {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                 {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                       {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
               {% endif %}
         {% endwith %}

        <form method="POST" action="/submit">
            <div class="mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Full Name" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="address" name="address" placeholder="Enter Your Street Address" required>
            </div>
            <div class="mb-3">
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Give Me a Call</button>
            </div>
        </form>
    </div>
    <div class="container mt-5 text-center">
        <h1>Serviced Areas</h1>
        <hr class="custom-hr">
    </div>
    <div class="container-fluid p-0">
        <picture>
            <!-- Image for screens wider than 768px -->
            <source media="(min-width: 768px)" srcset="{{ url_for('static', filename='creatives/largemap.svg') }}">
            <!-- Image for screens narrower than 768px -->
            <img src="{{ url_for('static', filename='creatives/smallmap-mobile.svg') }}" alt="smallmap" class="img-fluid full-width-image">
        </picture>
    </div>
    
    
    <style>
        .container-fluid {
            margin: 0;
            width: 100%;
        }
    
        .full-width-image {
            width: 100%;
            height: auto;
            display: block;
    
            /* Apply the mask for fading top and bottom edges */
            -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
            mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
        }
        .custom-hr {
             border: none;
             height: 2px; /* Adjust the thickness */
             background-color: #ffffff; /* Change to your preferred color */
             width: 50%; /* Adjust the width as needed */
             margin: 20px auto; /* Centers the line and adds vertical spacing */
        }
        
        
    </style>
    
    
{% endblock %}
